/*-------------------------------------------------------------*/
/*-----Clients-------------------------------------------------*/
/*-------------------------------------------------------------*/

.page__clients {
  margin-bottom: 100px;
}

.clients {
  &__title {
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 30px 60px;
    padding: 16px;
  }

  &__client {
    .client__image {
      max-width: 220px;
    }
  }
}

/*-------------------------------------------------------------*/
/*-----Choices-------------------------------------------------*/
/*-------------------------------------------------------------*/

.page__choices {
  margin-bottom: 150px;
  background-color: #22343d;
}

.choices__container {
  padding: 25px 0px 70px 0px;
}

.choices {
  &__title {
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 30px 70px;
  }

  &__choice {
    max-width: 355px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #dedede;
    border-radius: 10px;
    padding: 35px 30px 35px 30px;

    .choice__image {
      margin-bottom: 30px;
    }

    .choice__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 33px;
      margin-bottom: 15px;
    }

    .choice__paragraph {
      font-size: 16px;
      line-height: 27px;
      letter-spacing: 0.2px;
    }
  }
}

/*-------------------------------------------------------------*/
/*-----works------------------------------------------------*/
/*-------------------------------------------------------------*/

.page__works {
  margin-bottom: 115px;
}

.works {
  &__title {
    margin-bottom: 70px;
  }

  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px 0px;
    margin-bottom: 75px;
  }

  &__item {
    display: flex;
    gap: 90px 90px;
  }
  &__list {
    display: flex;
    flex-direction: column;
  }

  &__work {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    .work__subtitle {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 15px;
    }

    .work__title {
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 15px;
    }

    .work__paragraph {
      font-size: 16px;
      line-height: 28px;
    }
  }

  &__button {
      display: block;
      margin: 0 auto;
    padding: 11px 18px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    background: #02897a;
    color: white;
    border-radius: 8px;
  }
}

.works__wrapper {
  max-width: 500px;
}

.works__image {
  width: 100%;
}

/*-------------------------------------------------------------*/
/*-----Offers--------------------------------------------------*/
/*-------------------------------------------------------------*/

.page__offers {
  margin-bottom: 150px;
  background-color: #22343d;
}

.offers__container {
  padding: 35px 0px 45px 0px;
}

.offers {
  &__title {
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 30px 200px;
  }

  &__offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .offer__image {
      margin-bottom: 30px;
    }

    .offer__title {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 15px;
    }

    .offer__list {
      margin-bottom: 15px;
    }

    .offer__item {
      font-size: 18px;
      line-height: 32px;
    }

    .offer__subtitle {
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
    }
  }
}
