/*-------------------------------------------------------------*/
/*-----Clients-------------------------------------------------*/
/*-------------------------------------------------------------*/

.page__clients {
  margin-bottom: 150px;
}

.clients {
  &__title {
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 30px 60px;
    padding: 16px;
  }

  &__client {
    .client__image {
      max-width: 220px;
    }
  }
}
