/*-------------------------------------------------------------*/
/*-----Business------------------------------------------------*/
/*-------------------------------------------------------------*/

.page__business {
  margin: 100px 0px 150px 0px;
}

.business {
  &__body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 80px;
  }

  &__text {
    max-width: 450px;
  }

  h2.business__title {
    text-align: left;
    margin: 0;
    margin-bottom: 25px;
  }

  &__paragraph {
    font-size: 20px;
    line-height: 160%;
    letter-spacing: -0.03em;
    margin-bottom: 25px;
  }

  &__form {
    position: relative;
    margin-bottom: 25px;
    padding: 20px;
    border: 1px solid #eaeaea;
    border-radius: 100px;
    background: transparent;
  }

  &__input {
    display: block;
    width: 100%;
    max-width: 280px;
    background: transparent;
    color: white;
  }

  &__button {
    background: #02897a;
    border-radius: 100px;
    padding: 25px;
    font-weight: 600;
    font-size: 16px;
    line-height: 0px;
    color: #ffffff;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__shell {
    display: flex;
    align-items: center;

    & p {
      font-size: 14px;
      line-height: 21px;
      position: relative;
      left: -20px;
    }

    & span {
      color: #02897a;
    }
  }

  &__persons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__person {
    position: relative;

    &:nth-child(2) {
      left: -15px;
    }

    &:nth-child(3) {
      left: -30px;
    }
  }

  &__manage {
    display: flex;
    flex-direction: column;
    .manage__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 12px;
    }
    .manage__text {
      font-size: 16px;
      line-height: 26px;
    }
  }
}

.business__wrapper {
  flex: 0 1 55%;
  max-width: 540px;
  @media (max-width: 769px) {
    flex: 1 1 100%;
  }
}

.business__image {
  width: 100%;
}

/*-------------------------------------------------------------*/
/*-----Stories-------------------------------------------------*/
/*-------------------------------------------------------------*/

.page__stories {
  margin-bottom: 150px;
}

.stories {
  &__title {
    margin: 0;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 30px;
    margin-bottom: 30px;
  }

  &__story {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 8px;
    color: #22343d;

    .story__image {
      border-radius: 8px 8px 0px 0px;
    }

    div {
      padding: 25px 25px 40px 25px;
    }

    .story__date {
      font-size: 16px;
      line-height: 28px;
      color: #22343d;
      & span {
        font-weight: 700;
      }
    }

    .story__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 40px;
      color: #22343d;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 0px 10px;
    margin: 0 auto;
    background-color: transparent;
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
  }
}
