@import "./modules/_nullstyle";
@import "./modules/_anim-scroll";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"); /*-------------------------------------------------------------*/
/*-----The Foundation------------------------------------------*/
/*-------------------------------------------------------------*/

html {
  scroll-behavior: smooth;
}

input::-moz-placeholder {
  color: #ffffff;
}
textarea::-moz-placeholder {
  color: #ffffff;
}
input::-webkit-input-placeholder {
  color: #ffffff;
}
textarea::-webkit-input-placeholder {
  color: #ffffff;
}

body {
  background-color: #1f2e35;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

body._lock {
  overflow: hidden;
}

/*-------------------------------------------------------------*/
/*-----Technical classes---------------------------------------*/
/*-------------------------------------------------------------*/

._container {
  max-width: 1400px;
  margin: 0px auto;
}

._wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
}

._subtitle {
  line-height: 150%;
  text-align: center;
  font-size: 25px;
  margin-bottom: 40px;
}

._btn {
  display: block;
  margin: 0 auto;
  color: #ffffff;
  font-size: 18px;
  padding: 25px 70px;
  border-radius: 5px;
  text-transform: uppercase;
  transition-duration: 0.6s;
}

/*-------------------------------------------------------------*/
/*-----Header--------------------------------------------------*/
/*-------------------------------------------------------------*/

.header {
  width: 100%;
  margin-bottom: 25px;
}

.header__menu {
  padding: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
  align-items: center;
  justify-content: space-between;
}

.menu {
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 15px;
  }

  & h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
  }

  &__body {
    display: flex;
    gap: 0px 25px;
  }

  &__button {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: inherit;
    background-color: transparent;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    padding: 10px 25px;
  }

  &__button_fill {
    border: none;
    background: #02897a;
  }

  &__theme {
    background-color: transparent;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 20px;
}
.menu__link {
  font-size: 16px;
  line-height: 28px;

  color: #ffffff;
  &:hover {
  }
}

/*-------------------------------------------------------------*/
/*-----Burger--------------------------------------------------*/
/*-------------------------------------------------------------*/

.menu__icon {
  display: none;
  margin: 0 0 0 auto;
}

@media (max-width: 900px) {
  .menu__logo {
    z-index: 5;
    position: relative;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 42px;
    height: 25px;
    cursor: pointer;
  }

  .menu__icon._active {
    span {
      transform: scale(0) translate(0px, -50%);
    }

    &::before {
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
    }

    &::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
    }
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #ffffff;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 120px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body._active::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 75px;
    background: #000000;
  }

  .menu__list {
    flex-direction: column;
    gap: 30px 20px;
  }

  .menu__item {
    margin: 0 auto;
    text-align: center;
  }

  .menu__link {
    font-size: 35px;
  }
}

/*-------------------------------------------------------------*/
/*-----Home----------------------------------------------------*/
/*-------------------------------------------------------------*/

.page__home {
  margin-bottom: 150px;
}

.home__container {
  display: flex;
  gap: 0px 50px;
  justify-content: center;
  align-items: center;
}

.home__body {
  max-width: 450px;
}

.home__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 15px;
}
.home__paragraph {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 45px;
}
.home__buttons {
  display: flex;
  gap: 0px 30px;
  align-items: center;
}
.home__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: inherit;
  padding: 15px 40px;
  background: #02897a;
  border-radius: 4px;
}

.home__button-video {
  display: flex;
  gap: 0px 10px;
  background-color: transparent;
}

.home__button-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #02897a;
  background-color: transparent;
}

/*-------------------------------------------------------------*/
/*-----Products------------------------------------------------*/
/*-------------------------------------------------------------*/

.page__products {
  margin-bottom: 150px;
}

.products {
  &__title {
    max-width: 550px;
    margin: 0 auto;
    margin-bottom: 55px;
  }

  &__wrapper {
    position: relative;
  }

  &__decor {
    position: absolute;
    left: 0;
    z-index: -1;
    display: block;
    top: 0;
    max-width: auto;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    gap: 20px 50px;
    margin-bottom: 35px;
  }

  &__product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // min-width: 240px;
    max-width: 240px;
    .product__image {
      margin-bottom: 30px;
    }
    .product__title {
      margin: 0px 0px 15px 0px;
      font-weight: 600;
      font-size: 22px;
      line-height: 33px;
    }
    .product__text {
      font-size: 16px;
      line-height: 26px;
    }
  }

  &__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 15px 35px;
    background: #02897a;
    border-radius: 4px;
    color: inherit;
    display: block;
    margin: 0 auto;
  }
}

/*-------------------------------------------------------------*/
/*-----Manages-------------------------------------------------*/
/*-------------------------------------------------------------*/

.page__manages {
  margin-bottom: 150px;
}

.manages {
  &__body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 80px;
  }
  &__title {
    text-align: left;
    margin-bottom: 25px;
  }

  &__text {
    max-width: 490px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 30px 0px;
  }

  &__manage {
    display: flex;
    flex-direction: column;
    .manage__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 12px;
    }
    .manage__text {
      font-size: 16px;
      line-height: 26px;
    }
  }
}

.manages__wrapper {
  flex: 0 1 55%;
  max-width: 540px;
  @media (max-width: 769px) {
    flex: 1 1 100%;
  }
}

.manages__image {
  width: 100%;
}

/*-------------------------------------------------------------*/
/*-----Supports------------------------------------------------*/
/*-------------------------------------------------------------*/

.page__supports {
  margin-bottom: 150px;
}

.supports {
  &__body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 80px;
  }

  &__subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  &__title {
    text-align: left;
    margin-bottom: 25px;
  }

  &__paragraph {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
  }

  &__text {
    max-width: 490px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 30px 0px;
  }

  &__support {
    display: flex;
    align-items: center;
    gap: 30px 30px;

    &__text {
      font-size: 16px;
      line-height: 26px;
    }
  }
}

.supports__wrapper {
  flex: 0 1 55%;
  max-width: 540px;
  @media (max-width: 769px) {
    flex: 1 1 100%;
  }
}

.supports__image {
  width: 100%;
}

/*-------------------------------------------------------------*/
/*-----Collabs-------------------------------------------------*/
/*-------------------------------------------------------------*/

.page__сollabs {
  margin-bottom: 150px;
}

.сollabs {
  &__body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 80px;
  }
  &__title {
    text-align: left;
    margin-bottom: 25px;
  }

  &__text {
    max-width: 490px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 30px 0px;
  }

  &__сollab {
    display: flex;
    flex-direction: column;
    .сollab__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 12px;
    }
    .сollab__text {
      font-size: 16px;
      line-height: 26px;
    }
  }
}

.сollabs__wrapper {
  flex: 0 1 55%;
  max-width: 540px;
  @media (max-width: 769px) {
    flex: 1 1 100%;
  }
}

.сollabs__image {
  width: 100%;
}

/*-------------------------------------------------------------*/
/*-----Reviews-------------------------------------------------*/
/*-------------------------------------------------------------*/

.page__strategies {
  margin-bottom: 150px;
}

.strategies {
  &__title {
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin: 0;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 65px;
  }

  &__strategy {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 8px;
    color: #22343d;

    .strategy__image{
      border-radius: 8px 8px 0px 0px;
    }

    div {
      padding: 25px 25px 40px 25px;
    }

    .strategy__date {
      font-size: 16px;
      line-height: 28px;
      color: #22343d;
      & span{
        font-weight: 700;
      }
    }

    .strategy__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 40px;
      color: #22343d;
    }

    .strategy__title-special {
      color: #02897A;
    }

    .review__paragraph {
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.2px;
      color: #737373;
      margin-bottom: 16px;
    }
  }
}

/*-------------------------------------------------------------*/
/*-----Prices--------------------------------------------------*/
/*-------------------------------------------------------------*/

.page__prices {
  margin-bottom: 150px;
}

.prices {
  &__title {
    margin-bottom: 10px;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 35px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 70px;
  }

  &__price {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    color: #22343d;
    padding: 25px 75px 35px 75px;

    .price__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 40px;
      margin-bottom: 10px;
    }
    .price__subtitle {
      font-size: 16px;
      line-height: 40px;
      margin-bottom: 15px;
    }

    .price__cost {
      display: flex;
      gap: 10px 10px;
      align-items: center;
      .cost__value {
        font-weight: 700;
        font-size: 76px;
        line-height: 100px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #02897a;
      }

      .cost__options {
        display: flex;
        flex-direction: column;
        gap: 5px 5px;
      }

      .cost__currency {
        font-family: "Inter";
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.1px;
        color: #02897a;
      }

      .cost__period {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.1px;
        color: #afafaf;
      }
    }

    .price__list {
      display: flex;
      flex-direction: column;
      gap: 15px 15px;
      margin-bottom: 40px;
    }
    .price__item {
      text-align: center;
      font-family: "Inter";
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.2px;
    }
    .price__button {
      font-family: "Montserrat";
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      padding: 11px 19px;
      background: #02897a;
      border-radius: 8px;
      color: white;
    }
  }

  .price-special {
    background: #02897a;
    color: white;

    .price__cost {
      .cost__value {
        color: white;
      }

      .cost__currency {
        color: white;
      }

      .cost__period {
        color: white;
      }
    }
    .price__button {
      background: white;
      color: #02897a;
    }
  }
}

/*-------------------------------------------------------------*/
/*-----Reviews-------------------------------------------------*/
/*-------------------------------------------------------------*/

.page__reviews {
  margin-bottom: 150px;
}

.reviews {
  &__title {
    margin-bottom: 10px;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 530px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 65px;
  }

  &__review {
    max-width: 328px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid #dedede;
    border-radius: 5px;
    color: #22343d;
    padding: 25px;

    .review__rating {
      max-width: 106px;
    }

    .review__paragraph {
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.2px;
      color: #737373;
      margin-bottom: 16px;
    }

    .person {
      display: flex;
      gap: 10px 15px;
    }

    .person__name {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #02897a;
      margin-bottom: 0px;
    }

    .person__position {
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #252b42;
    }
  }
}
